.menuItem {
    box-shadow: 0 0 15px #7c7c7c;
    border-radius: 20px;
    height: 130px;
    padding: 10px 15px;
    display: flex;
}
.image {
    width: 170px;
    border-radius: 20px;
}
.info {
    padding-left: 10px;
}
.info h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
}
.info span {
    font-size: 18px;
}
.addToOrderButton {
    font-size: 18px;
    border: 2px solid #1577bc;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    width: 150px;
    height: 30px;
}
.addToOrderButton:hover {
    background-color: #1577bc;
    color: #fff;
}