.menu {
    padding: 30px 100px;
}
.menuBody {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 30px;
}
.categoryContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}