.menu {
    padding: 30px 100px;
}
.menuNavigation {
    display: grid;
    grid-template-columns: 1fr 1fr 7fr;
    justify-content: center;
    margin-bottom: 30px;
}
.menuNavigationItem {
    font-size: 28px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border: 2px solid #2791dc;
    border-radius: 20px;
    background-color: #2791dc;
    width: 150px;
    height: 50px;
}
.menuNavigationItem:hover {
    background-color: #fff;
    color: #2791dc;
    border: 2px solid #2791dc;
}
.menuSections {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.menuList {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 150px 150px 150px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}