.loginWrapper {
    text-align: center;
    margin: 30px 100px 0;
}
.loginWrapper__header {
    font-size: 30px;
}
.loginForm {
    width: 40%;
    height: 280px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    align-items: center;
}
.loginForm__fieldName {
    font-size: 24px;
    font-weight: 600;
}
.loginForm__field {
    width: 75%;
    height: 30px;
    background-color: inherit;
    border-radius: 7px;
    border: 2px solid #1577bc;
    font-size: 20px;
    margin: 0 auto;
}
.loginForm__submitButton {
    width: 200px;
    height: 40px;
    background-color: #2791dc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    margin: 0 auto;
}
.loginForm__submitButton:hover {
    border: 2px solid #2791dc;
    background-color: #fff;
    color: #2791dc;
}
.loginWrapper__logoutButton {
    width: 200px;
    height: 40px;
    background-color: #2791dc;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
}
.loginWrapper__logoutButton:hover {
    border: 2px solid #2791dc;
    background-color: #fff;
    color: #2791dc;
}
.loginForm__error {
    color: red;
    font-size: 16px;
}