div.order {
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 0 20px 30px;
    max-height: 600px;
    min-height: 300px;
    display: grid;
    grid-template-rows: 4fr 1fr;
}
div.order div.orderContent div{
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
div.order div.orderContent div h3 {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 20px;
}
.buttonWrapper {
    padding-top: 10px;
}
.setReadyButton {
    display: block;
    border: 2px solid #1577bc;
    border-radius: 15px;
    background-color: #1577bc;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
}
.setReadyButton:hover {
    background-color: #fff;
    color: #1577bc;
}