.headerWrapper {
    height: 100px;
    background: linear-gradient(to right, #1577bc, #2791dc);
    padding: 0 100px;
}
.headerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
}
.headerLink {
    text-align: center;
    font-size: 30px;
    font-family: "Rubik Medium", sans-serif;
    line-height: 100px;
    text-decoration: none;
    display: grid;
    color: #fff;
}
.headerLink:hover {
    color: #bdbdbd;
}
.headerActive {
    text-align: center;
    font-size: 30px;
    font-family: "Rubik Medium", sans-serif;
    line-height: 100px;
    text-decoration: none;
    display: grid;
    color: #bdbdbd;
}
.login {
    font-size: 30px;
    line-height: 100px;
    color: #fff;
}